@media (max-width: 640px) {

  .filter-time {
    display: flex;
  }

  .filter-time-checkbox {
    border: 1px black solid;
    width: 33.3%;
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .filter-time-checkbox input[type=checkbox] {
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    margin: 0;
  }

  .filter-time-checkbox input[type=checkbox]:checked {
    background-color: #c4f3a4;
    outline-color: white;
  }

  .filter-time-checkbox input[type=checkbox]:focus {
    outline-color: white;
  }

  .filter-time-checkbox label {
    position: absolute;
    left: 34%;
  }

}


@media (min-width: 641px) {
  .filter-form-container {
    width: 100%;
    height: 100px;
    background: gray;
  }
}
