@media (max-width: 640px) {

  /* Shows Index */
  .shows-index-container {
    width: 100%;
    height: 100%;
  }

  .map-or-list {
    width: 100%;
    height: 20px;
    display: flex;
    margin-bottom: 5px;
  }

  .map-or-list-radio {
    position: relative;
    width: 50%;
    border: 1px black solid;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .map-or-list-radio input[type=radio] {
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    margin: 0;
  }

  .map-or-list-radio input[type=radio]:checked {
    outline-color: white;
    background-color: green;
  }

  .map-or-list-radio label {
    position: absolute;
    left: 40%;
  }

  .shows-index-col-a {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .shows-index-col-b {
    width: 100%;
    height: 100vh;
    margin: 0;
  }

  /* Shows Index Item */
  .shows-index-item {
    margin-bottom: 25px;
  }

  .shows-index-item h2 {
    margin: 0 0 10px 0;
  }

  .shows-index-item span {
    display: block;
  }

}


@media (min-width: 641px) {

  /* Shows Index */
  .shows-index-container {
    width: 960px;
    display: flex;
  }

  .map-or-list {
    display: none;
  }

  .shows-index-col-a {
    width: 50%;
    margin: 0;
  }

  .shows-index-col-b {
    width: 50%;
    margin: 0;
    display: block !important;
  }

  /* Shows Index Item */
  .shows-index-item {
    margin-bottom: 25px;
  }

  .shows-index-item h2 {
    margin: 0 0 10px 0;
  }

  .shows-index-item span {
    display: block;
  }
}
