/* Shows Index */
.shows-index-container {
  width: 960px;
  display: flex;
}

.shows-index-col-a {
  width: 49%;
  margin: 0;
}

.shows-index-col-b {
  width: 49%;
  margin: 0;
}


/* Shows Index Item */
.shows-index-item span {
  display: block;
}
